<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a New Figure</title>
  </head>
  <body>
    <h1>Create a New Figure</h1>
      <form action="/figures" method="post">
     <input  type="text" id="figure_name" name="figure[name]">



     <h2>Select titles: </h2>
     <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]"  id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%>
     <%end%>



     <h2>Select landmarks: </h2>
     <%Landmark.all.each do |landmark|%>
     <input type="checkbox" name="figure[landmark_ids][]"  id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%>
     <%end%>


     <h2>Add a new title: </h2>
     <input type="text" name="title[name]" id="new_title">

     <h2>Add a new landmark: </h2>
     <input type="text" name="landmark[name]" id="new_landmark">

     <input  type="submit" value="Create New Figure">



     </form>

  </body>
</html>
